:root {
    --primary-color: #4b0082;
    --secondary-color: #ff4500;
    --light-color: #ecf1f1;
    --dark-color: #262626;
    --max-width: 1100px;
}

.category{
    --security-color: #228b22;
    --cloud-color: #1e90ff;
    --tech-color: #ff6347;
    --ai-color: #2F4F4F;
    --gear-color: #8B0000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Slab', serif;
    line-height: 1.5;
    background: var(--light-color);
}
a{
    color: #000;
    text-decoration: none;
}

ul{
    list-style: none;
}
p{
    margin: 0.5rem 0;
}
img{
    width: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Electrolize', sans-serif;
    margin-bottom: .55rem;
    line-height: 1.3;
}
/*utility*/
.container{
    max-width: var(--max-width);
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}
.category{
    display: inline-block;
    color: #fff;
    font-size: 0.55rem;
    text-transform: uppercase;
    padding: 0.4rem 0.6rem;
    border-radius: 0px;
    margin-bottom: 0.5rem;
}
/*categories backgound*/
.category-tech{
    background: var(--tech-color);
}
.category-security{
    background: var(--security-color);
}
.category-cloud{
    background: var(--cloud-color);
}
.category-ai{
    background: var(--ai-color);
}
.category-gear{
    background: var(--gear-color);
}
/*buttons*/
.btn{
    display: inline-block;
    border: none;
    background: var(--dark-color);
    color: #fff;
    padding: .5rem 1.5rem;
}
.btn-light{
    background: var(--light-color);
}
.btn-primary{
    background: var(--primary-color);
}
.btn-secondary{
    background: var(--secondary-color);
}
.btn:hover{
    border: solid var(--primary-color) 3px;
    background: var(--light-color);
    color: var(--primary-color);
}
.btn-block{
    display: block;
    width: 100%;
    text-align: center;
}
.news-btn{
    text-align: center;
    padding: 1rem;
}
/*cards*/
.card{
    background: #fff;
    padding: 1rem;
}
.bg-dark{
    background: var(--dark-color);
    color: #fff;
}
.bg-primary{
    background: var(--primary-color);
    color: #fff;
}
.bg-secondary{
    background: var(--secondary-color);
    color: #fff;
}
/*padding*/
.py-1{padding:1.5rem 0}
.py-2{padding:2rem 0}
.py-3{padding:3rem 0}
.p-1{padding:1.5rem }
.p-2{padding:2rem }
.p-3{padding:3rem }
/*heading*/
.l-heading{
    font-size: 3rem;
}
/*list*/
.list li{
    padding: 0.5rem 0;
    border-bottom: #000 solid 1px;
    width: 90%;
}
.list li a:hover{
    color: var(--secondary-color) !important; 
}
/*inner page grid container*/
.page-container{
    display: grid;
    grid-template-columns: 5fr 2fr; 
    margin: 2rem 0;
    grid-gap: 1.5rem;
}
.page-container > *:first-child{
    grid-row: 1 / span 3;
}
/*icons*/
.page-container .card .meta a i{
    color: var(--dark-color);
}
.page-container .card .meta a i:hover{
    color: var(--primary-color);
}
.icons i{
    padding: 0.5rem;
}
.icons i:hover{
    color: var(--secondary-color);
}
/*end utilities*/
/*nav*/
#main-nav{
    background: #fff;
    position:sticky;
    top: 0;
    z-index: 2;
}
#main-nav .container{
    display: grid;
    grid-template-columns: 6fr 2fr;
    padding: 1rem;
    align-items: center;
}

#main-nav #logo{
    color: var(--primary-color);
    font-size: 3rem;
}
#main-nav ul{
    display:flex;
    justify-self: end;
}
#main-nav ul li a{
    padding: 0.75rem;
    font-weight: bold;
}
#main-nav ul li a.current{
    background: var(--primary-color);
    color: #fff;
}
#main-nav ul li a:hover{
    background: var(--secondary-color);
    color: #fff;
}
/*showcase*/
#showcase{
    color: #fff;
    background: var(--dark-color);
    padding: 2rem;
    position: relative;
}
#showcase:before{
    content:'';
    background: url('img/maxim-hopman-IayKLkmz6g0-unsplash.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
#showcase .showcase-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 50vh;
}
#showcase .showcase-content{
    z-index: 1;
}
#showcase .showcase-content p{
    margin-bottom: 1rem;
}
/*top*/
#top-article .top-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    grid-row: 1 / span 3;
}
#top-article .top-container .card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    grid-column: 1 / span 3;
    align-items: center;
}
/*home articles*/
#home-articles .articles-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
}
#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    grid-column: 1 / span 3;
    align-items: center;
}
.trend-header{
    text-align: center;
    font-size: 3rem;
}
/*related articles*/
#rel-articles .rel-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}
/*article*/
#article .meta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--light-color);
    padding: 0.5rem;
}
#article .meta .category{
    margin-top: 0.3rem;
}

/*footer*/
#main-footer{
    background: var(--dark-color);
    color: var(--light-color);
}
#main-footer a{
    color: #fff;
}
#main-footer #logo{
    font-size: 2.5rem;
}
#main-footer .footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
#main-footer .footer-container > *:last-child{
    background: var(--secondary-color);
    grid-column: 1 / span 4;
    padding: 0.6rem;
    text-align: center;
    
}
#main-footer .footer-container input[type='email'],
aside input[type='email'],
#top-article .top-container input[type='email']{
    width: 90%;
    padding: 0.6rem;
    margin-bottom: 0.5rem;
}
#main-footer .footer-container input[type='submit'],
#top-article .top-container input[type='submit']{
    width: 90%;
}